<!-- counter example using viewchild get functions from child component to parent component -->
<!-- <app-number-parent></app-number-parent> -->
<!-- <app-stopwatch-parent></app-stopwatch-parent> -->

<!-- change text color using viewchild and get function from directive -->
<!-- <app-cpcolor-parant></app-cpcolor-parant> -->

<!-- using elementreference to viewchild -->
<!-- <app-cptheme></app-cptheme> -->

<!-- <app-number-parent></app-number-parent>
<app-stopwatch-parent></app-stopwatch-parent>
<app-cptheme></app-cptheme> -->
